@page
@model Spectrus_Unitale.Pages.Shared.IndexModel
@{
   
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<div class="text-center">
    <h1 class="display-4" >Discovery</h1>
    <p>Learn about <a href="https://www.tutorialsteacher.com/csharp">building Web apps with ASP.NET Core</a>.</p>

    <p><p>Learn about <a href="https://www.spectrus-unitale.com">Spectrus-Unitale</a>.</p>
        <a href="~/ABBA....mp3">Chuiquitita
        </a>
     <address>Spectrus-Unitale  
    </address>
    </p>
</div>