@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
<a href="https://www.wonder.legal/fr/creation-modele/politique-confidentialite" >Privacy Policy</a>
    
<p> 
    Le droit applicable
<p>
Le règlement européen 2016/679 du Parlement européen et du Conseil, et notamment l'article 13 ;
La Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et notamment l'article 6 ;
La Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée par la LOI n° 2018-493 du 20 juin 2018 
relative à la protection des données personnelles pour les questions de traitement de données à caractère personnel.</p>
</p>

</p>
